@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/react-datepicker/dist/react-datepicker.css";

.orange-button {
    background-color: rgb(255, 102, 0); 
    color: white; 
    border: none;
}